:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-secondary: rgba(0,0,0,.6);
  --error: rgb(255, 65, 65);
  --text-primary: rgb(0,0,0);
  --border: rgb(123, 123, 236);
  --primary: rgb(81, 81, 137);
  --primary-hover: rgb(68, 68, 114);
  --secondary: rgb(103, 103, 138);
  --secondary-hover: rgb(64, 64, 94);
}