.pull{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 60%;
    padding: 1% 2%;
    border: 2px solid #adb4ff;
    border-radius: 12px;
}

.pull__main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pull__main__title{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #10132a;
}
.pull__main__text{
    font-weight: 500;
    color: #10132a;
}
.pull__date{
    color: #10132a;
}